{%  load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = 'en'>
<head>
    <title>Jackal</title>
    <style>
        body {
    background-color: rgb(102, 89, 72);
   }
    .fig {
        text-align: center;
    }
    .ok {
        text-align: center;
    }
    .ok img {
        margin-right: 50px;
        margin-bottom: 10px;
    }


    </style>
</head>
<body>
<h1 class="fig">
    Добро пожаловать в игру Jackal!
</h1>
<h2 class="fig">
    <img src="../static/img/jackal.png" width="812" height="401" alt="" border=0>
</h2>
<h3 class="ok">
    <a href="https://jackal.su/rules/all"><img src="../static/img/rules.png" width="328" height="392" alt="Press here to see rules of the game"></a>
    <a href="game/"><img src="../static/img/game.png" width="328" height="392" alt="Press here if you want to play game"></a>
</h3>
</body>
</html>